* {
    font-family: 'Raleway', sans-serif;
}

.nav {
    overflow: hidden;
    background-color: rgb(75, 75, 75);
    border: 5px solid rgb(75, 75, 75);
    margin-bottom: 0px;
}

.nav a {
    color: white;
    text-decoration: none;
    padding: 12px 14px;
    background-color: rgb(75, 75, 75);
    float: left;
}

.nav a:hover {
    background-color: rgb(112, 112, 112);
    color: white;
}

.label {
    text-align: center;
}

.blog {
    border: 1px solid rgb(112, 112, 112);
    box-shadow: 5px 5px 10px rgb(112, 112, 112);
    padding: 10px;
    margin: 10px;
    width: 50em;
    margin: auto;
    margin-bottom: 2em;
}

.header {
    padding: 10px;
    margin-bottom: 20px;
    border-bottom: 1px solid rgb(112, 112, 112);
}

div h3 a:visited {
    color: black;
}

.newpost {
    border: 1px solid rgb(112, 112, 112);
    box-shadow: 5px 5px 10px rgb(112, 112, 112);
    padding: 10px;
    margin: 10px;
    width: 30em;
    margin: auto;
}

#newpost {
    height: 30em;
}