<!doctype html>
<html>
    <head>
        <title>{{title}}</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
        <link href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet">
    </head>
    <body>
        <div class='nav'>
            <a href='/'>Home</a>
            <a href='/newpost'>New Blog Entry</a>
            {% if 'username' not in session %}
                <a href='/signup'>Sign Up</a>
                <a href='/login'>Login</a>
            {% endif %}
            {% if 'username' in session %}
                <a class='right' href='/logout'>Logout</a>
            {% endif %}
        </div>
        {% block content %}
        {% endblock %}
    </body>
</html>