<!doctype html>
<html>
    <head>
        <title>{{title}}</title>
        <link href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet" />
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}" />
        <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon" />
    </head>
    <body>
        <div class='nav'>
            <a href='/'>Home</a>
            <a href='/newpost'>New Blog Entry</a>
            {% if 'username' not in session %}
            <a href='/signup'>Sign Up</a>
            <a href='/login'>Login</a>
            {% endif %}
            {% if 'username' in session %}
                <a href='/blog'>My Blogz</a>
                <a style='float:right;'>Logged in as {{session['username']}}</a>
                <a style='float:right;' href='/logout'>Logout</a>
            {% endif %}
        </div>
        <div class='header'>
            <h1 style='text-align:center;'>Blogz</h1>
            <br />
            <h2 class='label'>{{title}}</h2>
        </div>
        {% block content %}
        {% endblock %}
    </body>
</html>