{% extends 'base.html' %}
{% block content %}

{% with messages = get_flashed_messages() %}
    <ul>
    {% for message in messages %} 
        <li>{{message}}</li>
    {% endfor %}
    </ul>
{% endwith %}

{% for blog in blog_entries %}
<div class='blog'>
    <h3><a href='/blog?id={{blog.id}}'>{{blog.title}}</a></h3>
    <p>{{blog.body}}</p>
    <form action='/delete' method='post'>
        <input type='hidden' name='id' value='{{blog.id}}' />
        <input type='submit' value='Delete Entry' />
    </form>
</div>
{% endfor %}

{% if not blog_entries %}
    <p style='text-align:center;'>{{ username }} has no posts yet! Click <a href='/newpost'>here</a> to add one.</p>
{% endif %}

{% endblock %}