{% extends 'base.html' %}
{% block content %}

{% for blog in blog_entries %}
    {% set user_id = blog.owner_id %}
    {% set user = User.query.get(user_id) %}
    <div class='blog'>
        <span style='float: right;'>Posted by <a href='/blog?user={{user.id}}'>{{user.username}}</a> on {{blog.pub_date}}</span>
        <h3><a href='/blog?id={{blog.id}}'>{{blog.title}}</a></h3>
        <p>{{blog.body}}</p>
    {% if user.username == session['username'] %}
        <form action='/delete' method='post'>
            <input type='hidden' name='id' value='{{blog.id}}' />
            <div>
                <input type='submit' value='Delete Entry' />
            </div>
        </form>
    {% endif %}
    </div>
{% endfor %}

    {% if not blog_entries %}
        {% if session %}
            <p style='text-align:center;'>{{ session['username'] }} has no posts yet! Click <a href='/newpost'>here</a> to add one.</p>
        {% endif %}
    {% endif %}

{% endblock %}