{% extends 'base.html' %}
{% block content %}
<h2>Login</h2>

{% with messages = get_flashed_messages() %}
    <ul class='flashes'>
    {% for message in messages %} 
        <li>{{message}}</li>
    {% endfor %}
    </ul>
{% endwith %}

<p>Don't have an account? <a href='/signup'>Register here</a>!</p>

<form action='/login' method='POST'>
    <table>
        <tr>
            <td><label for='username'>Username</label>
            </td>
            <td><input name='username' type='text' value='{{ username }}' /></td>
        </tr>
        <tr>
            <td><label for='password'>Password</label>
            </td>
            <td><input name='password' type='password' /></td>
        </tr>
    </table>
    <input type='submit' value='Login' />
</form>
{% endblock %}