{% extends 'base.html' %}
{% block content %}

{% for blog in blog_entries %}
<div class='blog'>
    <span style='float: right;'>Posted by <a href='/blog?user={{user.id}}'>{{ user.username }}</a> on {{blog.pub_date}}</span>
    <h3><a href='/blog?id={{blog.id}}'>{{blog.title}}</a></h3>
    <p>{{blog.body}}</p>
    {% if session %}
        {% if user.username == session['username'] %}
        <form action='/delete' method='post'>
            <input type='hidden' name='id' value='{{blog.id}}' />
            <input type='submit' value='Delete Entry' />
        </form>
        {% endif %}
    {% endif %}
</div>
{% endfor %}

{% if not blog_entries %}
    {% if user.username == session['username'] %}
        <p style='text-align:center;'>{{ user.username }} has no posts yet! Click <a href='/newpost'>here</a> to add one.</p>
    {% else %}
        <p style='text-align:center;'>{{ user.username }} has no posts yet!</p>
    {% endif %}
{% endif %}

{% endblock %}